[submodule "VncSharpCore"]
	path = VncSharpCore
	url = git@github.com:1Remote/VncSharpCore.git
[submodule "Shawn.Utils"]
	path = Shawn.Utils
	url = git@github.com:VShawn/Shawn.Utils.git
[submodule "Dragablz"]
	path = Dragablz
	url = git@github.com:1Remote/Dragablz.git
